/*font-family: 'Roboto', sans-serif;*/
body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ffcc03;
}

.titleMain , .inputCenter , .boxPokemones{
  text-align: center;
}

.pokemonBox {
  display:inline-block;
  margin: 0.5em;
}

.boxResults {
	margin: 1em;
	background-color: #fbfbe9;
	border: 0.5em solid #ff0000;
	border-radius: 5%;
}

.boxResults h5{
	font-weight: 700;
}